body {
  font-family: var(--ff-base);
}

/* ========== HEADER SECTION ========== */
.header {
  display: grid;
  place-items: center;
  gap: var(--spacing-300);
  overflow: hidden;
}

.header__nav {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, max-content);
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.header__toggle {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.header__nav-list {
  position: absolute;
  left: 0;
  top: var(--spacing-600);

  /* preset 6 bold */
  list-style-type: none;
  font-size: var(--fs-preset-6);
  line-height: var(--lh-150);
  letter-spacing: var(--ls-none);
  font-weight: var(--fw-bold);

  background-color: var(--clr-primary-purple-950);

  width: 100%;
  border-radius: 0.6rem;

  gap: var(--spacing-400);
  text-align: center;

  padding: var(--spacing-400) var(--spacing-200);
  display: none;
}

.header__nav-list.is-open {
  display: grid;
}

.header__link {
  color: var(--clr-basic-white);
  text-decoration: none;
  display: block;

  padding: var(--spacing-100);
}

.header__link:hover {
  border-radius: 1.75rem;
  background-color: var(--clr-primary-blue-400);
}

.header__nav-divider {
  background-color: var(--clr-neutral-grey-500);
  height: 1px;
  width: 100%;
  opacity: 25%;

  outline: 0;
}

.header__hero {
  text-align: center;
}

.header__hero-img {
  margin-inline-start: 5%;
  max-width: 135%;
  width: 100%;
  height: auto;
}

.header__title {
  color: var(--clr-neutral-grey-900);
  /* preset 2 bold */
  font-size: var(--fs-preset-2);
  line-height: var(--lh-115);
  letter-spacing: var(--ls-tight);
  font-weight: var(--fw-bold);

  margin-block-start: 40px;
  margin-block-end: 16px;
}

.header__description {
  color: var(--clr-neutral-grey-500);
  /* preset 6 medium */
  font-size: var(--fs-preset-6);
  line-height: var(--lh-175);
  letter-spacing: var(--ls-none);
  font-weight: var(--fw-medium);
}

.header__cta {
  /* preset 5 bold */
  font-size: var(--fs-preset-5);
  line-height: var(--lh-150);
  letter-spacing: var(--ls-none);
  font-weight: var(--fw-bold);

  color: var(--clr-basic-white);
  background-color: var(--clr-primary-blue-400);

  padding: var(--spacing-200) var(--spacing-500);
  border: 0;
  border-radius: 6.25rem;
  margin-block-start: 32px;
}

.header__cta:hover,
.header__cta:focus-within {
  cursor: pointer;
  background-color: var(--clr-secondary-blue-300);
}

/* ========== END HEADER SECTION ========== */

/* ========== START SHORTENER SECTION ========== */
.shortener {
  position: relative;
  margin-block-start: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.shortener__form {
  position: absolute;
  bottom: 0;
  transform: translateY(50%);
  width: 87.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: var(--spacing-200);
  padding: var(--spacing-300);
  border-radius: 12px;
  background-color: var(--clr-primary-purple-950);
  overflow: hidden;
}

.shortener__picture {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.shortener__form-input {
  width: 100%;
  border-radius: 8px;
  border: none;
  padding: var(--spacing-150) var(--spacing-200);
  font-weight: var(--fw-medium);
}

.shortener__form-input::placeholder {
  font-weight: var(--fw-medium);
  color: var(--clr-neutral-grey-500);
}

.shortener__form-btn {
  width: 100%;
}
/* ========== END SHORTENER SECTION ========== */

/* ==========  STATISTICS SECTION ========== */
.statistics {
  background-color: var(--clr-neutral-purple-50);
  display: grid;
  place-content: center;
  padding-block: var(--spacing-1000);
}

.statistics__header {
  --margin-bottom: var(--spacing-700);
  max-width: 21.8rem;
  text-align: center;
  margin-block-end: calc(var(--margin-bottom) + 44px); /* D 40px*/
}

.statistics__title {
  /* Preset 3 bold */
  font-size: var(--fs-preset-3);
  font-weight: var(--fw-bold);
  line-height: var(--lh-170);
  letter-spacing: var(--ls-none);

  color: var(--clr-neutral-grey-900);
  margin-block-end: var(--spacing-300);
}

.statistics__description {
  /* preset 7 medium */
  font-size: var(--fs-preset-7);
  font-weight: var(--fw-medium);
  line-height: var(--lh-175);
  letter-spacing: var(--ls-none);

  color: var(--clr-neutral-grey-500);
}

.statistics__features {
  padding: 0;
  display: grid;
  /* place-content: center; */
  justify-content: center;
  align-content: end;
  gap: calc(44px + 72px);

  list-style-type: none;
  list-style-position: inside;
  max-width: 69.4rem;
  position: relative;
  z-index: 1;
  /* height: 1029px; */
}

.statistics__features::after {
  position: absolute;
  content: "";
  bottom: 0;
  z-index: -1;
  left: 50%;
  width: 8px;
  height: 100%;
  transform: translateX(-50%);
  background-color: var(--clr-primary-blue-400);
}

.statistics__list {
  max-width: 21.8rem;
  max-height: max-content;
  padding: var(--spacing-500) var(--spacing-400); /* 40px 32px */
  background-color: var(--clr-basic-white);
  text-align: center;
  border-radius: 5px;

  position: relative;
}

.statistics__list::before {
  position: absolute;
  content: "";
  height: 88px;
  width: 88px;
  top: 0;
  border-radius: 50%;
  transform: translate(-50%, -50%);

  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--clr-primary-purple-950);
}

.statistics__list.icon-brand::before {
  background-image: url("../icons/icon-brand-recognition.svg");
}

.statistics__list.icon-detail::before {
  background-image: url("../icons/icon-detailed-records.svg");
}

.statistics__list.icon-custom::before {
  background-image: url("../icons/icon-fully-customizable.svg");
}

.statistics__feature {
  /* preset 4 bold */
  font-size: var(--fs-preset-4);
  font-weight: var(--fw-bold);
  line-height: var(--lh-150);
  letter-spacing: var(--ls-none);

  color: var(--clr-neutral-grey-900);

  margin-block-start: var(--spacing-400);
  margin-block-end: var(--spacing-200);
}

.statistics__feature-description {
  /* preset 7 medium */
  font-size: var(--fs-preset-7);
  font-weight: var(--fw-medium);
  line-height: var(--lh-175);
  letter-spacing: var(--ls-none);
  color: var(--clr-neutral-grey-500);
}

/* TODO: move to bottom  */
@media (min-width: 48rem) {
  .statistics__header {
    max-width: 33.75rem;
  }
  .statistics__title {
    /* tablet & desktop: Preset 2 bold  */
    font-size: var(--fs-preset-2);
    font-weight: var(--fw-bold);
    line-height: var(--lh-115);
    letter-spacing: var(--ls-tight);
  }
  .statistics__description {
    /* tablet & desktop: Preset 6 medium  */
    font-size: var(--fs-preset-6);
    font-weight: var(--fw-medium);
    line-height: var(--lh-175);
    letter-spacing: var(--ls-none);
  }
}
@media (min-width: 90rem) {
  .statistics__header {
    --margin-bottom: var(--spacing-500); /*40px*/
    justify-self: center;
  }
  .statistics__features {
    height: 399px;
    width: 1110px;
    position: relative;
  }

  .statistics__features::after {
    transform: rotate(180deg);
    left: 0;
    bottom: 50%;
    height: 8px;
    width: 100%;
  }
  .statistics__list {
    text-align: start;
  }
  .statistics__list:first-child {
    position: absolute;
    left: 0;
    top: 10.5%;
  }
  .statistics__list:nth-child(2) {
    position: absolute;
    left: calc(50% - calc(350px / 2));
    top: 21%;
  }
  .statistics__list:last-child {
    position: absolute;
    right: 0;
    top: 33.5%;
  }
  .statistics__list::before {
    left: 25%;
  }
}
/* ==========  END STATISTICS SECTION ========== */

/*
@media (min-width: 90rem) {

    .shortly-url__nav-btn {
        display: none;
    }
    .shortly-url__nav {
        justify-content: start;

    }
   
    .shortly-url__nav-list {
        position: static;
        display: grid;
        padding: 0 40px;
        grid-template-columns: repeat(3, max-content) 500px repeat(2, max-content);
       background-color: transparent;
    }
    .shortly-url__nav-divider {
        opacity: 0;
    }

    .shortly-url__nav-link {
        color: var(--clr-neutral-grey-500);
       

    }
    .shortly-url__intro {
        display: grid;
       grid-template-areas: 
        "title hero"
        "desc hero"
        "btn hero"
        ;
        
    }
    .shortly-url__intro-hero{
        grid-area: hero;
    }
    .shortly-url__intro-title{
        grid-area: title;
    }
    .shortly-url__intro-desc {
        grid-area: desc;
    }
    .shortly-url__intro-btn {
        grid-area: btn;
    }
}
    */
